# BLUE/GREEN SERVICE - Change selector version to switch traffic between blue/green

apiVersion: v1
kind: Service
metadata:
  name: metroride-api-bluegreen-service
  labels:
    app: metroride-api
spec:
  type: NodePort
  selector:
    app: metroride-api
    version: blue
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30081
