apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: metroride-api-scaledobject
  namespace: default
  labels:
    app: metroride-api
spec:
  scaleTargetRef:
    name: metroride-api
  pollingInterval: 15
  cooldownPeriod: 30
  minReplicaCount: 1
  maxReplicaCount: 10
  triggers:
    - type: rabbitmq
      metadata:
        protocol: amqp
        queueName: metroride-booking-queue
        mode: QueueLength
        value: "5"
        host: amqp://guest:guest@rabbitmq-service:5672/
