apiVersion: v1
kind: Service
metadata:
  name: metroride-api-service
  labels:
    app: metroride-api
spec:
  type: NodePort
  selector:
    app: metroride-api
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
